<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />  
  </connectionStrings>  
  <appSettings>
    <add key="IdentityClientId" value="881e8dd2-ee52-455d-b731-ad3c56fdce97" />
  </appSettings>
</configuration>
